
Concentration/Concentration.xcodeproj/project.xcworkspace/xcuserdata/adamisrafil.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

Concentration/Concentration.xcodeproj/xcuserdata/adamisrafil.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
